{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-12">
      <h2 style="color:#5bc0de;">Username: {{ object.username }}</h2>
      {% if object.name %}
        <p>Name: {{ object.name }}</p>
      {% endif %}
      {% if object.first_name%}
        <p>First name: {{ object.first_name }}</p>
      {% endif %}
      {% if object.last_name%}
        <p>Last name: {{ object.last_name }}</p>
      {% endif %}
        <strong><p style="color:#5bc0de;font-size:20px;">Email: {{object.email}} </p></strong>
      {% if object.country%}
        <p>Country: {{ object.country }}</p>
      {% endif %}
      {% if object.gender%}
        <p>Gender: {{ object.gender }}</p>
      {% endif %}
      {% if object.address%}
        <p>Address: {{ object.address }}</p>  
      {% endif %}
      {% if object.phone_number%}
        <p>Phone Number: {{ object.phone_number }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<br>
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


{% endblock content %}

