<div class="row">

{% extends "base.html" %}

{% block content %}
<div class="col-sm-6">
<form class='form-horizontal' data-toggle="validator" method="post" role="form" style="margin-top: 20px;" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="row">
            <div style="font-size:20px;margin:10px;">
                <p><b>Name: </b><br>&nbsp;{{ book_form.name }}</p>
            </div>
            <div class="help-block with-errors"></div>
            {% if book_form.name.errors %}
                <div class="alert alert-danger server_errors" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{book_form.name.errors.as_text}}
                </div>
            {% endif %}
        </div>

        <div class="row">
            <div style="font-size:20px;margin:10px;">
                <p><b>Author: </b><br>&nbsp;{{ book_form.author }}</p>
            </div>
            <div class="help-block with-errors"></div>
            {% if book_form.author.errors %}
                <div class="alert alert-danger server_errors" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{book_form.author.errors.as_text}}
                </div>
            {% endif %}
        </div>

        <div class="row">
            <div style="font-size:20px;margin:10px;">
                <p><b>Publisher: </b><br>&nbsp;{{ book_form.publisher }}</p>
            </div>
        </div>

        <div class="row">
            <div style="font-size:20px;margin:10px;">
                <p><b>Pages: </b><br>&nbsp;{{ book_form.pages }}</p>
            </div>
        </div>

        <div class="row">
            <div style="font-size:20px;margin:10px;">
                <p><b>Price: </b><br>&nbsp;{{ book_form.price }}</p>
            </div>
            <div class="help-block with-errors"></div>
            {% if book_form.price.errors %}
                <div class="alert alert-danger server_errors" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{book_form.price.errors.as_text}}
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-sm-9">
                <div class="form-group">
                    <label for="files">My Files:</label><br>
                    <input type="file" name="file_name" id="file_name">
                </div>
            </div>
        </div>


        <div class="row">
            <div style="font-size:20px;margin:10px;">
                <p><b>Description: </b><br>&nbsp;{{ book_form.description }}</p>
            </div>
        </div>
        <div class='row'>
            <div class="input-group" style="font-size:20px;margin:10px;">
                <input class="btn btn-primary btn-block" style="background-color: #09707c" type='submit' value='Save'>
            </div>
        </div>
</form>
{% endblock %}
</div>
</div>