{% extends "base.html" %}

{% block content %}
<form class='form-horizontal' data-toggle="validator" method="post" role="form" style="margin-top: 20px;">
    {% csrf_token %}
        <div class="row">
            <div>
                <p><b>Name: </b>&nbsp;{{ book_form.name }}</p>
            </div>
        </div>

        <div class="row">
            <div>
                <p><b>Author: </b>&nbsp;{{ book_form.author }}</p>
            </div>
        </div>

        <div class="row">
            <div>
                <p><b>Publisher: </b>&nbsp;{{ book_form.publisher }}</p>
            </div>
        </div>

        <div class="row">
            <div>
                <p><b>Pages: </b>&nbsp;{{ book_form.pages }}</p>
            </div>
        </div>

        <div class="row">
            <div>
                <p><b>Price: </b>&nbsp;{{ book_form.price }}</p>
            </div>
        </div>

        <div class="row">
            <div>
                <p><b>Description: </b>&nbsp;{{ book_form.description }}</p>
            </div>
        </div>
        <div class='row'>
            <div class="input-group">
                <input class="btn btn-primary btn-block" style="background-color: #09707c" type='submit' value='Save'>
            </div>
        </div>
</form>
{% endblock %}