<div class="row">

{% extends "base.html" %}

{% block content %}
<div class="col-sm-6">
<form class='form-horizontal' data-toggle="validator" method="post" role="form" style="margin-top: 20px;" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="row">
            <div class="col-md-offset-1 col-sm-9">
                <div class="form-group">
                    <label for="files" style="margin-left:-50px;color:#5bc0de;font-size:16px;">My Files:</label><br>
                    <input type="file" style="margin-left:-50px;color:#5bc0de;font-size:16px;" name="file_name" id="file_name">
                </div>
            </div>
        </div>
        <div class='row'>
            <div class="input-group" style="font-size:20px;margin:10px;">
                <input class="btn btn-primary btn-block" style="background-color: #09707c" type='submit' value='Save'>
            </div>
        </div>
</form>
</div>
</div>
<footer>
{% endblock %}
</footer>
